
  @media screen and (max-width: 375px) {
    *{
    
    margin: 0;
    padding: 0;
  }
  
   #containerPrincipal{
    position: absolute;
    background-color: hsl(240, 78%, 98%);
    height: 1600px;
    width: 400px;
    top: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: cover;
   
}
#titulo {
position: absolute;
top: 100px;
    left: 55%;
    transform: translate(-50%, -50%);
   
font-size: 15px;
font-family: Montserrat;
color: hsl(230, 13%, 36%) ;
}
#backImg {
    position: absolute;
    height: 400px;
    width: 190px;
    margin-top: -65px;
    margin-left: 180px;
   
}

.switch {
position: absolute;
 margin-top: 100px;
  
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  
}
.switch--shadow + label {
  position: absolute;
  padding: 2px;
  top: 150px;
    left: 200px;
    transform: translate(-50%, -50%);
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 75px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: hsl(236, 72%, 79%);
}
.switch--shadow:checked + label:after {
  transform: translateX(18px);
}

#A{
    position: absolute;
    margin-left: 80px;
    top: 145px; 
    font-family: Montserrat;
    font-size: 18px;
    color:  hsl(235, 7%, 64%);   
}
#M{
    position: absolute;
    margin-left: 250px;
    top: 145px; 
    font-family: Montserrat;
    font-size: 18px;
    color: hsl(235, 7%, 64%) ;   
}
#pl {
    margin-top: 20px;
    font-family: Montserrat;
}
#contentar {
  margin-top: 50px;
}
#cards {
  
   position: absolute;
  top: 1050px;
    left: 42%;
    transform: translate(-35%, -50%);
   text-align: center;
  font-family: Montserrat;
    font-size: 18px;
    color: hsl(232, 13%, 33%);
    
    display: block;
}

#preços {
    
    font-size: 350%;
    margin-top: 0px;
    margin-left: 20px;
    font-family: Montserrat;
    color: hsl(232, 13%, 33%);
}
#rs{
    position: absolute;
    margin-left: -20px;
    margin-top: 35px;
    font-size: 175%;
    font-family: Montserrat;
    color: hsl(232, 13%, 33%);
}
#lista  {
    margin-top: 10px;
    color: hsl(232, 13%, 33%);
}
#link a {
    color: hsl(232, 13%, 33%);
 
    text-decoration: none;
}
#link {
    
    margin-top: -0px;
    width: 250px;
    margin-left: 15px;
    border: solid 2px;
    border-radius: 5px;


}
.cards-body {
    top: -50px;
}


}

  @media screen and (min-width: 376px) {
    *{
    margin: 0;
    padding: 0;
  }
   #containerPrincipal{
    position: absolute;
    background-color: hsl(240, 78%, 98%);
    height: 95vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
#titulo {
position: absolute;
top: 50px;
left: 50%;
transform: translate(-50%, -50%);
font-size: 15px;
font-family: Montserrat;
color: hsl(230, 13%, 36%) ;
}
#backImg{
    position: absolute;
    margin-left: 1340px;
    margin-top: -120px;
   
}

.switch {
position: absolute;
 margin-top: 100px;
  
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  
}
.switch--shadow + label {
  padding: 2px;
  margin-left:48%;
  margin-top: 6.5%;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 75px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: hsl(236, 72%, 79%);
}
.switch--shadow:checked + label:after {
  transform: translateX(18px);
}

#M{
    position: absolute;
    margin-left: 40%;
    top: 12%; 
    font-family: Montserrat;
    font-size: 18px;
    color: hsl(235, 39%, 34%);   
}
#A{
    position: absolute;
    margin-left: 52.5%;
    top: 12%;
    font-family: Montserrat;
    font-size: 18px;
    color: hsl(235, 39%, 34%) ;   
}
#pl {
    margin-top: 20px;
    font-family: Montserrat;
}
#contentar {
  margin-left: 20px;
}
#card1 {
position: absolute;
margin-left: 300px;
margin-top: 100px;
text-align: center;
}
#card2 {
  position: absolute;
margin-left: 670px;
margin-top: 100px;

text-align: center;
}
#card3 {
  position: absolute;
margin-left: 1050px;
margin-top:100px;
text-align: center;
}



#preços {
    position: absolute;
    font-size: 350%;
    margin-top: 10px;
    margin-left: 80px;
    font-family: Montserrat;
    color: hsl(232, 13%, 33%);
}
#rs{
    position: absolute;
    margin-left: 30px;
    margin-top: 35px;
    font-size: 175%;
    font-family: Montserrat;
    color: hsl(232, 13%, 33%);
}
#lista  {
    margin-top: 10px;
    color: hsl(232, 13%, 33%);
}
#link a {
    color: hsl(232, 13%, 33%);
 
    text-decoration: none;
}
#link {
    
    margin-top: 20px;
    width: 250px;
   margin-left: 20px;
    border: solid 2px;
    border-radius: 5px;


}
.cards-body {
    top: 80px;
}


}
